.custom-navbar {
  background-color: #fff; /* Navbar background color */
  border-bottom: 1px solid #ddd; /* Border color at the bottom */
  font-size: 20px;
  height: 60px;
  padding: 0;

  
  background-color: #101111;
  .logo {
    font-size: 200%; /* Adjust the logo font size */
    color: #333; /* Logo text color */
    text-decoration: none;
  }

  .horiz {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-link {
    color: #f8f4f4; /* Navbar link color */
    margin-right: 15px; /* Adjust the spacing between navbar links */
    text-decoration: none;
    transition: color 0.3s ease; /* Smooth transition for link color */
    margin: 8px;
  }

  .nav-link:hover {
    color: #ff0000; /* Change link color on hover */
  }

  .transparent-button {
    color: #e6e9ed; /* Button text color */
    border: none;
    background: none;
    cursor: pointer;
    margin-right: 15px;
    text-decoration: none;
    transition: color 0.3s ease; /* Smooth transition for button color */
  }

  .transparent-button:hover {
    color: #0056b3; /* Change button color on hover */
  }

  /* Responsive Navbar Toggle Button */
  .navbar-toggler-icon {
    border: 1px solid #007bff; /* Toggle button color */
  }

  .navbar-toggler {
    border: none;
    outline: none;
  }

  /* Active Link Highlighting */
  .nav-link.active {
    font-weight: bold; /* Highlight active link by making text bold */
  }
}
